<div class="product-detail container">
    <div *ngIf="fetchError != null">
        <div class="alert-warning">Problem loading products...</div>
    </div>
    <div *ngIf="innerLoading" class="loader"></div>
    <div *ngIf="innerLoading" style="min-height: 50vh"></div>
    <div *ngIf="product != null && innerLoading == false" class="row pt-5">
        <div class="col-md-7">
            <img class="product-img img-responsive" src="https://s3-ap-southeast-1.amazonaws.com/he-public-data/blue-book-hic09def7.png" alt="{{ product.name }}">
        </div>
        <div class="col-md-4 mr-auto">

            <div class="product-description">
                <span class="category">{{ product.authors }}</span>
                <h1 class="name">{{ product.title}}</h1>
                <p class="description"> {{ product.average_rating }} &#9733;</p>
                <p class="price"> Total ratings:- {{ product.ratings_count }} </p>
                <p class="description"> ISBN:- {{ product.isbn }} </p>

                <div class="row">
                    <div class="amount col-md-6">
                        <div class="row"><span>AMOUNT</span></div>
                        <div class="row"><input #amount type="number" placeholder="-" min="1" value="1"></div>
                    </div>

                    <div class="price col-md-6">
                        <span>Rs {{ product.price }} </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" *ngFor="let e of (cartState | async).errors">
                        <div *ngIf="e.errorEffect == 'ADD_TO_CART'" class="alert-warning">
                            <div class="col-md-12">
                                <div *ngIf="e.error.status === 400 || e.error.status === 401">Could not add item.</div>
                                <div *ngIf="e.error.status === 409">Please select a proper amount</div>
                                <div *ngIf="e.error.status === 500 || e.error.status === 0">Internal server error. Please contact our support team.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add col-md-12">
                        <div *ngIf="(cartState | async).loading" class="loader" style="top:0; left: 25%"></div>
                        <button (click)="addToCart(amount)" [disabled]="(cartState | async).loading" [style.display]="(cartState | async).loading ? 'none' : 'inline-block'" class="btn btn-info">Add to cart
            </button>

                    </div>
                </div>


                <div class="row">
                    <div class="delivery-title col-md-4 {{activeTab === 0 ? 'active': ''}}" (click)="setActiveTab(2)">
                        <p>Delivery</p>
                    </div>


                </div>

                <div class="row">


                    <div class="delivery-info col-md-12" *ngIf="activeTab === 2">
                        <div>
                            <p> PRICE:</p>
                            <span>Rs {{product.price}} </span>
                        </div>
                        <div>
                            <span>Please Login to Add Item in Cart.</span>
                        </div>
                        <div>
                            <span>Please apply Discount Coupons on Next Screen.</span>
                        </div>

                        <div>
                            <p>This is a Barclays Books site. Products listed here are only for demonstration purposes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>