<div class="container faq">
    <div class="title">
        <p>FAQ</p>
    </div>
    <hr>
    <div class="accordion">
        <ngb-accordion #acc="ngbAccordion" [closeOthers]="false" [destroyOnHide]="true">
            <ngb-panel id="static-1">
                <ng-template ngbPanelTitle>
                    <span class="panel-title">What is Barclays Books?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                    Barclays Books is developed for Barclays Hackathon
                </ng-template>
            </ngb-panel>

        </ngb-accordion>
    </div>
</div>